@page "/user-program"
@using GymGenius.BO
@using Gymgenius.bo
@using GymGenius.WebUI.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject ApiService ApiService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider;

<h3>User Program</h3>

<p><em>No Program For This User</em></p>

@code {
    private User user;
    private TrainingProgram program;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string username = await getCurrentUser();
            user = await ApiService.GetUserAsync(username);
            program = await ApiService.GetUserProgramAsync(username);
            Navigation.NavigateTo($"/program/{program.Name}");
        }
        catch (Exception ex)
        {
        }
    }

    protected async Task<string> getCurrentUser()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        return user.Identity.Name;
    }
}
