@page "/user-program"
@using GymGenius.BO
@using Gymgenius.bo
@using GymGenius.WebUI.Services
@inject ApiService ApiService
@inject NavigationManager Navigation

<h3>User Program</h3>

  <p><em>No Program For This User</em></p>

@code {
    private User user;
    private TrainingProgram program;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string username = getCurrentUser();
            user = await ApiService.GetUserAsync(username);
            program = await ApiService.GetProgramAsync(username);
            Navigation.NavigateTo($"/program/{program.Name}");
        }
        catch (Exception ex)
        {
        }
    }

    protected string getCurrentUser()
    {
        return "guest3";
    }
}
