@using Microsoft.AspNetCore.Components.Authorization
@using GymGenius.WebUI.Services
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager Navigation
@inject CustomAuthenticationStateProvider AuthStateProvider
@attribute [Authorize(Roles = "Admin")]

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GymGenius.WebUI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable d-flex flex-column" onclick="document.querySelector('.navbar-toggler').click()" style="height: 90vh;">
    <nav class="flex-column d-flex flex-grow-1">
        <!-- Top part of the menu -->
        <div class="menu-items">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <AuthorizeView Roles="Trainer">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="programs">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> List Programs
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="users">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> List Users
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="add-program">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Program
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="add-exercise">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Exercise
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="exercises">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> List Exercises
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Trainee">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="user-program">
                            <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Show My Program
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

        <!-- Bottom part of the menu -->
        <div class="auth-items mt-auto">
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="notworking" @onclick="Logout">
                            <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
                        </NavLink>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="login">
                            <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="signup">
                            <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Signup
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code {
    private async Task Logout()
    {
        await AuthStateProvider.NotifyUserLogout();
        Navigation.NavigateTo("/", true);
    }
}
